header{
    background-color: #333333;
}

body{
    background-color: efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333333;
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin: 0 auto;
}

#main-bio {
    float: left;
    width: 70%;
}

#contact-bio {
    float: left;
}
#bio-image {
    float: left;
    width: 200px;
}

#contact-info {
    width: 30%;
}